include README.md
include LICENSE
recursive-include TrueColorHSI/examples *
recursive-include TrueColorHSI/models *.npy
recursive-include TrueColorHSI/notebooks *
recursive-include TrueColorHSI/assets *